.title {
	font-size: 120%;
	color: #CC33CC;
}

.item {
	font-size: 100%;
	color: #0000FF;
	text-decoration: none;
}

.item:hover {
	color: #FF0000;
	text-decoration: underline;
}

body {
	font-size: 100%;
	font-weight: normal; !important
	text-decoration: none; !important
	font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',  Helvetica, Arial, sans-serif; !important
	word-wrap : break-word;
	overflow-wrap : break-word;
}

h3 {
	font-size: 120%;
	color:#333333;
	margin: 5px 0px 5px 0px;
}

tr,td {
	font-size: 100%;
	color: #333300;
}

th {
	text-align: left;
	font-size:10pt;
	color: #333300;
}

dt {
	font-size: 100%;
	color: #666666;
	font-weight: bold;
	margin: 5px 0px 0px 20px;
}

dt:before {
	content: "*";
}

dd {
	font-size: 90%;
	color: #333300;
}

hr {
	color: #aaaaaa;
}

img {
	border: 0;
}

q {
	quotes: "<" ">";
}
